
body {
    background-color: #f8f9fa;
    height: 100vh;

}

header {
    background-color: #0a4b8b;
    color: white;
}
header .navbar {
    justify-content: center;
}


#leftBar {
    left: 0;
    transition: width 0.5s;
    width: 1em;
    padding: 20px;
    background-color: #343a40;
    color: white;
    height: calc(100vh - 70px); 
    position: fixed;
    top: 70px; 
}

#leftBar.expand {
    width: 10em;
}

#rightBar {
    right: 0;
    transition: width 0.5s;
    width: 1em;
    padding: 20px;
    background-color: #343a40;
    color: white;
    height: calc(100vh - 70px); 
    position: fixed;
    top: 70px;
}

.menu {
    visibility: hidden;
}

#rightBar.expand {
    width: 10em;
}
.nav-link {
    color: aqua !important;
    overflow: hidden;
}

.toggle-btn {
    background-color: transparent;
    border: none;
    color: white;
    margin-bottom: 15px;
}

.limg-icon {
    position:absolute;
    width: 30px;
    height: 30px;
    transform: scaleX(-1);
    right: 0px;
}

.rimg-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 5px;
}



.row {
    height: 200px;
}

.card {
    margin-bottom: 20px;
    width: auto;
    transform-style: preserve-3d;
    transition: all 0.5s ease;

}

.card .front {
    position: absolute;
    justify-content: center;
    text-align: center;
    background-color: rgb(37, 124, 95);
    backface-visibility: hidden;
    z-index: 1;
    width: 100%;
}

.card .back {
    position: absolute;
    justify-content: center;
    text-align: center;
    background-color: rgb(77, 255, 196);
    transform: rotateY(180deg);
    width: 100%; 
}

.card.active {
    transform: rotateY(180deg);
    
}


.wrapper {
    height: calc(100vh - 70px);;
    padding-left: 10em;
    padding-right: 10em;
}





